---
name: Build and Push to Cachix

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "config"
      - "flake.nix"
      - "flake.lock"
      - "devenv.nix"
      - "nix/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Nu Tools
        uses: ck3mp3r/actions/nu-tools@main

      - name: Build and Push to Cachix
        shell: nu {0}
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
        run: |
          use nu-tools *

          publish-to-cachix ck3mp3r --flake ".#"
