---
name: Build and Push to Cachix

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "flake.nix"
      - "flake.lock"
      - "devenv.nix"
      - "nix/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: macos-14
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-github-cache: true
          use-flakehub: false

      - name: Install Cachix
        uses: cachix/cachix-action@v16
        with:
          name: ck3mp3r
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build and Push to Cachix
        shell: nix develop --no-pure-eval {0}
        run: nu ./scripts/push-uncached-to-cachix.nu
