---
name: Check

on:
  workflow_dispatch:
  workflow_call:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: macos-14
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@main

      # - name: Setup Nix Cache
      #   uses: DeterminateSystems/magic-nix-cache-action@main
      #   with:
      #     use-gha-cache: true
      #     use-flakehub: false

      - name: Running checks
        run: |
          nix flake check --no-pure-eval
          nix run . --no-pure-eval -- --headless +checkhealth +qa
